body {
  background-color: floralwhite;
}

.back-to-top{
  background-color: navy;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 999999;
  display: none;
  border-radius: 50%;
}

.back-to-top i{
  color: floralwhite;
  font-size: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-caption{
  height: 100%;
  top: 200px;
  left: 300px;
  z-index: 1
}

.carousel-caption:before{
  content: "";
  position: absolute;
  background-color: transparent;
  border: 15px solid floralwhite;
  height: 200px;
  width: 700px;
  left: 20px;
  top: -20px;
  z-index: -999999;
}
/* .preloader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  z-index: 9999999999;
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 5px solid red;
  border-radius: 50%;
  animation-name: loader;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear
} */

@keyframes loader{
  from{transform: rotate(0);
  border-right-color: transparent}
  to{transform: rotate(360deg);
  border-right-color:transparent }
}

.top-top{
  background-color: black;
  padding: 10px 10px;
  transition: all 0.5s;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999999999999999;
}

.top-scroll{
  top: -40px;
}

.top-top li a{
  color: white;
  text-decoration: none
}

.top-top .top-left li{
  border-right: 1px solid floralwhite;
  margin-right: 10px;
  padding-right: 20px
}


.top-top .top-right{
  justify-content: flex-end
}

.top-top .top-right li{
  margin-right: 20px;
  border-right: 1px solid floralwhite;
  padding-right: 20px
}


.tpNav{
  background-color: floralwhite;
  transition: all 0.5s;
  position: fixed;
  top: 40px;
  z-index: 9999999999999999;
  width: 100%;
}
.tpNav.tpscroll{
  top: 0;
}


.tpNav .tpNav-left .nav-link:hover{
  border-bottom: 2px solid grey
}
.tpNav .tpNav-left ul li .All-Dell, .All-Hp, .All-Apple, .All-Collection{
  visibility: hidden;
  top: 50px;
  left: 0;
  height: 300px;
  width: 100%;
  background-color: floralwhite;
  overflow: hidden;
  z-index: 9999999;
}

.tpNav .tpNav-left ul li:hover .All-Dell{
  visibility: visible;
}

.tpNav .tpNav-left ul li:hover .All-Hp{
  visibility: visible
}

.tpNav .tpNav-left ul li:hover .All-Apple{
  visibility: visible
}

.tpNav .tpNav-left ul li:hover .All-Collection{
  visibility: visible
}
.tpNav .tpNav-left ul li .All-Dell ul{
  display: block
}

.tpNav .tpNav-left ul li .All-Dell ul li{
  display: block
}


.tpNav .tpNav-left ul li ul li a{
  color: black;
  text-decoration: none;
  display: block;
}
.tpNav .tpNav-left ul li ul li{
  list-style: none;
  padding-top: 20px;
  display: block;
  margin-left: -15px
}


.tpNav .tpNav-right ul .signup{
  cursor: pointer
}

.tpNav .tpNav-right ul .login{
  cursor: pointer
}





.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.modal .modal-content {
  background: floralwhite;
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 350px;
  animation-name: modalopen;
  animation-duration: 2s;
  overflow: hidden;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal .modal-content .modal-header {
  background: black;
  padding: 5px 20px;
}
.modal .modal-content .modal-header .closeBtn {
  font-size: 40px;
  cursor: pointer;
  color: floralwhite;
}
.modal .modal-content .modal-header h1 {
  color: floralwhite;
}
.modal .modal-content .modal-body {
  padding: 20px 20px;
  line-height: 35px;
  color: black;
}
.modal .modal-content .modal-body input {
  padding: 5px 5px;
  background: black;
}
.modal .modal-content .modal-body textarea {
  padding: 5px 5px;
  background: black;
}
.modal .modal-content .modal-body button {
  background: floralwhite;
  padding: 8px 10px;
}
.modal .modal-content .modal-footer {
  padding: 5px 10px 20px 10px;
  background: black;
}
.modal .modal-content .modal-footer .cancel {
  background: grey;
  color: floralwhite;
}
.modal .modal-content .modal-footer .save {
  color: black;
  background-color: floralwhite;
}





.img-wrapper .img-sec {
  width: 100%;
  padding: 40px 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

@media (max-width: 768px){
  .img-wrapper .img-sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
  }

  /* .img-wrapper .img-sec .img-box img{
    margin-top: 20px
  } */
}
.img-wrapper .img-sec .img-box{
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px){
  .img-wrapper .img-sec .img-box{
    overflow: hidden
  }
}


.img-wrapper .img-sec .img-box img {
  transition: 0.3s all ease-in-out;
}
.img-wrapper .img-sec .img-box .dim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.img-wrapper .img-sec .img-box ul {
  position: absolute;
  top: 10px;
  width: 100%;
}
.img-wrapper .img-sec .img-box ul .love {
  color: floralwhite;
  top: 10px;
  position: absolute;
  left: 20px;
  font-size: 30px;
  transform: translateY(-50px);
  transition: 0.3s all ease-in-out;
}
.img-wrapper .img-sec .img-box ul .download {
  position: absolute;
  top: 10px;
  left: 220px;
  background-color: grey;
  color: floralwhite;
  font-size: 30px;
  transform: scale(0);
  transition: 0.3s all ease-in-out;
}
.img-wrapper .img-sec .img-box ul .queen {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  height: 50px;
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  opacity: 0.7;
  line-height: 50px;
  background-color: floralwhite;
  text-align: center;
  transform: translateY(130px);
  transition: 0.3s all ease-in-out;
}
.img-wrapper .img-sec .img-box:hover .love {
  transform: translateY(0);
}
.img-wrapper .img-sec .img-box:hover .download {
  transform: scale(1);
}
.img-wrapper .img-sec .img-box:hover .queen {
  transform: translateY(0);
}
.img-wrapper .img-sec .img-box:hover .dim {
  opacity: 0.5;
  background-color: black;
}
.img-wrapper .img-sec .img-box:hover img {
  transform: scale(1.1);
}

.banner .banner-sec .banner-img {
  height: 600px;
  width: 100%;
  background-repeat: no repeat;
  background-position: center center;
  background-size: cover;
}
.banner .banner-sec .banner-img h2 {
  position: absolute;
  top: 200px;
  font-size: 2.5rem;
  opacity: 0;
}
.banner .banner-sec .banner-img small {
  top: 180px;
  position: absolute;
  opacity: 0;
}
.banner .banner-sec .banner-img button {
  position: absolute;
  top: 350px;
  opacity: 0;
  background-color: black;
  color: floralwhite
}
.banner .banner-sec .banner-img p {
  position: absolute;
  top: 300px;
  opacity: 0;
}
.banner .banner-sec .banner-img .showcase {
  position: absolute;
  color: floralwhite;
  background-color: black;
  left: 70%;
  top: 15%;
  font-size: 2.5rem;
  width: 160px;
  border-radius: 50%;
  padding: 40px 30px;
  height: 160px;
  line-height: 40px;
  transform: rotate(90deg);
  opacity: 0;
  z-index: 1;
}
.banner .banner-sec .banner-img .showcase::after {
  content: "";
  position: absolute;
  border: 5px dashed floralwhite;
  top: 6%;
  left: 6%;
  background-color: transparent;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  z-index: -1;
}
.banner .banner-sec .owl-item.active .banner-img .showcase {
  transform: rotate(0deg);
  opacity: 1;
  transition: 0.5s all ease-in-out;
}
.banner .banner-sec .owl-item.active .banner-img h2 {
  top: 180px;
  opacity: 1;
  transition: 0.3s all ease-in;
}
.banner .banner-sec .owl-item.active .banner-img small {
  top: 160px;
  opacity: 1;
  transition: 0.3s all ease-in;
}
.banner .banner-sec .owl-item.active .banner-img button {
  top: 330px;
  opacity: 1;
  transition: 0.3s all ease-in;
}
.banner .banner-sec .owl-item.active .banner-img p {
  top: 280px;
  opacity: 1;
  transition: 0.3s all ease-in;
}
.banner .banner-sec .owl-nav button[type=button] {
  position: absolute;
  top: 40%;
}
.banner .banner-sec .owl-nav button[type=button].owl-next {
  background-color: black;
  left: 97%;
  color: floralwhite;
  font-size: 30px;
}
.banner .banner-sec .owl-nav button[type=button].owl-prev {
  background-color: black;
  left: 1%;
  color: floralwhite;
  font-size: 30px;
}



.content-sec{
  opacity: 0;
}

.content-sec h1{
  color: black
}






.row .fst{
  background-image: url(/images/photo-1587613991119-fbbe8e90531dgg.jpg);
  background-position: center center;
  background-size: cover;
  height: 500px;
  width: 1000px;
  margin-top: 10px
}


.row .fst .product-large h2{
  color: floralwhite;
  font-size: 40px;
  position: absolute;
  top: 30%;
  left: 20%
}

.row .fst .product-large a{
  color: floralwhite;
  font-size: 25px;
  position: absolute;
  top: 42%;
  text-decoration: none;
  border-bottom: 5px solid floralwhite;
  left: 25%;
  font-weight: bolder
}


.sec .filter-control{
  text-align: center;
  line-height: 5px
}

.sec .filter-control ul{
  display: inline-flex;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace
}

.sec .filter-control ul li a{
  color: black;
  text-decoration: none
}

.sec .filter-control ul li{
  padding: 10px 10px
}

.sec .filter-control .active{
  border-bottom: 2px solid black;
}

.sec .filter-control h1{
  background-color: black;
  color: floralwhite;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  margin-left: 0
}

.product-hovering .product-item .img-text{
  overflow: hidden;
}


.product-hovering .product-item .img-text .sale{
  color: floralwhite;
  background-color: forestgreen;
  width: 100px;
  text-align: center;
  padding: 5px 5px;
  position: absolute;
  top: 5px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(-50px)
}

.product-hovering .product-item .img-text:hover .sale{
  transform: translateY(0)
}

.product-hovering .product-item .img-text .icon{
  color: floralwhite;
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 200px;
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(-50px)
}

.product-hovering .product-item .img-text:hover .icon{
  transform: translateY(0)
}

.product-hovering .product-item .img-text ul{
  list-style-type: none;
  display: inline-flex;
  position: absolute;
  top: 320px;
  width: 100%;
  padding: 0 0;
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(250px)
}

.product-hovering .product-item .img-text:hover ul{
  transform: translateY(0)
}


.product-hovering .product-item .img-text ul li a{
  text-decoration: none;
  display: block
}

.product-hovering .product-item .img-text img{
  min-width: 100%;
  min-height: 100%
}

.product-hovering .product-item .img-text{
  position: relative;
  overflow: hidden
}

.product-hovering .product-item .img-text ul .quick-view{
  background-color: orangered;
  color: floralwhite;
  font-size: 16px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  margin: 0 5px;
  font-family: 'Courier New', Courier, monospace;
}

.product-hovering .product-item .img-text ul .quick-view a{
  color: floralwhite
}

.product-hovering .product-item .img-text ul .w-icon{
  background-color: floralwhite;
  color: black;
  padding: 20px 15px;
}

.product-hovering .product-item .img-text ul .w-icon a{
  color: black;
}

.product-hovering .product-item .pi-text{
  text-align: center;
  margin-top: 20px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.product-hovering .product-item .pi-text a{
  color: black;
  text-decoration: none
}


.product-hovering .owl-nav button[type=button]{
  position: absolute;
  top: 40%
}

.product-hovering .owl-nav button[type=button].owl-prev{
  background-color: black;
  color: floralwhite;
  font-size: 25px;
  left: -25px
}

.product-hovering .owl-nav button[type=button].owl-next{
  color: floralwhite;
  background-color: black;
  font-size: 25px;
  left: 100%
}

.product-hovering .owl-dots {
	text-align: center;
	margin-top: 27px;
}

.product-hovering .owl-dots button {
	width: 6px;
	height: 6px;
	background: black;
	border-radius: 50%;
	margin-right: 10px;
	transition: all 0.3s;
}

.product-hovering .owl-dots button:last-child{
	margin-right: 0;
}

.product-hovering .owl-dots button.active {
	width: 30px;
	background: black;
	border-radius: 50px;
}

/* end of product-hovering */


/* gallery */
.gallery .gallery-img{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px
}


@media (max-width: 768px){
  .gallery .gallery-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 10px
  }
}


.gallery .gallery-img .img-box{
  overflow: hidden !important;
}

.gallery .gallery-img img{
  min-width: 100% !important;
  height: 400px;
  filter: grayscale(1)
}

.gallery .gallery-img img:hover{
  transition: .3s all ease-in-out;
  transform: scale(1.1);
  filter: grayscale(0)
}

/* end of gallery */


/* collection */

.collection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  padding-top: 50px;
  padding-bottom: 100px
}

.hard .hard-hard{
  display: flex;
}

.hard .hard-hard .hard1{
  margin-left: 10px;
}

.hard .hard1 .btn{
  border-bottom: 2px solid black;
  padding: 0
}

.hard .hard1 p{
  font-size: .7rem
}

.sec-hard h1{
  margin-bottom: 60px
}
.sec-hard .hard-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px
}

.sec-hard .hard-wrapper .hard-sec p{
  font-size: .7rem
}

.sec-hard .hard-wrapper .hard-sec .img-text{
  background-color: black;
  padding: 10px;
  color: floralwhite
}

.smally{
  display: flex;
  flex-direction: column;
  text-align: start;
}

/* end of collection */
.card{
  max-height: 100%;
}
.card-wrapper .owl-nav button[type=button]{
  position: absolute;
  top: 35%
}

.card-wrapper .owl-nav button[type=button].owl-prev{
  background-color: black;
  color: floralwhite;
  font-size: 25px;
  left: -25px
}

.card-wrapper .owl-nav button[type=button].owl-next{
  left: 100%;
  background-color: black;
  color: floralwhite;
  font-size: 25px
}


.card-wrapper .owl-dots {
	text-align: center;
	margin-top: 27px;
}

.card-wrapper .owl-dots button {
	width: 6px;
	height: 6px;
	background: black;
	border-radius: 50%;
	margin-right: 10px;
	transition: all 0.3s;
}

.card-wrapper .owl-dots button:last-child{
	margin-right: 0;
}

.card-wrapper .owl-dots button.active {
	width: 30px;
	background: black;
	border-radius: 50px;
}
/* end of card-wrapper */


/* collection css */

.tabContainer {
  width: 100%;
  height: 200vh;
  margin-top: 20px
}
.tabContainer .buttonContainer {
  height: 5%;
}
.tabContainer .buttonContainer button {
  width: 200px;
  border: none;
  float: left;
  padding: 10px;
  margin-left: 10px;
  background-color: #000;
  color: floralwhite;
}
/* .tabContainer .buttonContainer button:hover {
  background-color: #d7d4d4;
} */
.tabContainer .tabPanel {
  height: 85%;
  color: coral;
  text-align: center;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 30px;
  display: none;
}


.tabPanel .tab-img .tab-img-set{
  height: 600px;
  background-position: center;
  background-size: cover;
}

.tabPanel .tab-img .owl-nav button[type=button]{
  position: absolute;
  font-size: 50px;
  /* background-color: black */
}

.tabPanel .tab-img .owl-nav button[type=button].owl-next{
  left: 55%;
}

.tabPanel .tab-img .tab-img-set h3{
  position: absolute;
  top: 240px;
  left: 45%;
  color: floralwhite;
  font-size: 3rem;
  opacity: 0;
}

.tabPanel .tab-img .owl-item.active .tab-img-set h3{
  top: 200px;
  transition: .3s all ease-in-out;
  opacity: 1;
}

.tabPanel .tab-img .tab-img-set p{
  color: floralwhite;
  font-size: 1.5rem;
  position: absolute;
  top: 280px;
  left: 300px;
  opacity: 0;
}

.tabPanel .tab-img .owl-item.active .tab-img-set p{
  top: 260px;
  transition: .3ss all ease-in-out;
  opacity: 1;
}

.tabPanel .tab-img .tab-img-set .wed:before{
  content: "";
  background-color: transparent;
  position: absolute;
  top: 160px;
  border: 15px solid floralwhite;
  width: 600px;
  height: 180px;
  left: 250px; */
  transform: scale(0);
  opacity: 0;
}

.tabPanel .tab-img .owl-item.active .tab-img-set .wed:before{
  transform: scale(1.1);
  transition: .3s all ease-in-out;
  opacity: 1
}




.tabPanel .panel .panel-img{
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

.tabPanel .panel .panel-img .text{
  position: absolute;
  top: 40%;
  left: 35%;
  width: 400px;
  padding: 20px 20px;
  background-color: transparent;
  border: 15px solid floralwhite;
  color: floralwhite;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
}

.tabPanel .panel .owl-item.active .panel-img .text{
  transform: scale(1.1);
  transition: .3s all ease-in-out;
  opacity: 1;
}

.tabPanel .panel .panel-img .text h3{
  transform: translateX(-240px)
}

.tabPanel .panel .panel-img .text p{
  transform: translateX(320px)
}

.tabPanel .panel .owl-item.active .panel-img .text h3{
  transform: translateX(0);
  transition: 1.2s all ease-in-out
}

.tabPanel .panel .owl-item.active .panel-img .text p{
  transform: translateX(0);
  transition: 1.2s all ease-in-out
}

.tabPanel .panel .owl-nav button[type=button]{
  position: absolute;
  top: 40%;
  background-color: black;
  color: floralwhite;
  font-size: 50px;
  width: 30px
}

.tabPanel .panel .owl-nav button[type=button].owl-prev{
  left: 1%;
}

.tabPanel .panel .owl-nav button[type=button].owl-next{
  left: 97%
}

.img-sec .container{
  display: grid;
  margin-top: 100px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.img-sec .img-Box img{
  width: 100%;
  height: 200px;
}
.img-sec .img-Box{
  opacity: 0;
  transition: .4s all ease-in-out;
  transform: translateX(30px)
}

.img-sec .inside{
  opacity: 1;
  transform: translateX(0px)
}



.img-sect .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 100px;
  grid-gap: 10px;
}
.img-sect .img-Boxes img{
  width: 100%;
  height: 200px;
}
.img-sect .img-Boxes{
  opacity: 0;
  transition: .4s all ease-in-out;
  transform: translateX(30px)
}

.img-sect .inside{
  opacity: 1;
  transform: translateX(0px)
}


/* footer */

.footer {
  background-color: black;
  background-attachment: fixed;
  margin-top: 100px;
  width: 100%;
}
.footer .container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.footer .container .first{
  color: floralwhite;
  text-align: start;
}
.footer .container .first p{
  font-size: 1rem;
  color: grey;
}
.footer .container .second {
  margin-top: 50px;
  text-align: start;
}
.footer .container .second p {
  font-size: 15px;
  margin-bottom: 0;
  letter-spacing: 2px;
  color: floralwhite;
}
.footer .container .second span {
  font-size: 10px;
  color: grey;
  letter-spacing: 2px;
}
.footer .container .second h6 {
  color: floralwhite;
  margin-bottom: 20px;
  text-align: center;
}
.footer .container .second img {
  width: 100px;
  height: 100px;
}
.footer .container .second h6 {
  color: grey;
}
.footer .container .third {
  margin-top: 50px;
}
.footer .container .third h6 {
  color: grey;
  margin-bottom: 20px;
}
.footer .container .third .btn {
  background-color: grey;
  color: floralwhite;
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  .footer .container {
    display: flex;
    flex-direction: column;
  }
}